<section class="container">
    <h2>{{title}}</h2>
    <summary class="jumbotron">
    <p>
        ד"ר אליק מישורי הוא היסטוריון אמנות, מבקר אמנות ואיש התרבות החזותית. ספריו <strong>סביב למדורה בסלון</strong>, <strong>שדה האמנות בישראל 1949-1948</strong> ( מכון בן גוריון 2013), <strong>לצייר בעברית: יוסף בודקו מעצב את מהדורת היובל של ח. נ. ביאליק </strong> (2007 עם עובד) ו<strong>שורו הביטו וראו, איקונות וסמלים חזותיים ציוניים בתרבות הישראלית </strong> (2000 עם עובד) מתמקדים בסימבוליקה ישראלית-יהודית. במשך שנים היה מישורי מבקר האמנות של עיתון <em>הארץ</em>. הוא אצר תערוכות במוזיאונים ובגלריות ברחבי הארץ וכתב את כל הספרים בתחום תולדות האמנות של האוניברסיטה (<strong>תולדות האמנות: מבוא כללי, אמנות הרנסנס באיטליה, טבע דומם: מתיאור של חפצים לחפצים ברשות עצמם</strong>). מישורי חוקר את מקורות האמנות הישראלית וזיקתה למסורת היהודית ולמחשבה הציונית; הוא שב ומדגיש בפרסומיו את התרומה המשמעותית של היהדות בתחום החזותי לתופעה הכוללת של הרנסנס העברי.
    </p>
    </summary>
</section>