<h2>אליק מישורי</h2>
<p>היסטוריון, אוצר, מבקר אמנות וחוקר אמנות ישראלי.</p>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-wrap="true">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img src="images/books/artHistoryPrimer.png" alt="עטיפת הספר תולדות האומנות מבוא כללי">
        </div>
        <div class="item">
            <img src="images/books/ziporaBrener.jpg" alt="עטיפת הספר ציפורה ברנר חייה ואומנותה">
        </div>
        <div class="item active">
            <img src="images/books/aroundTheCampfire.png" alt="סביב למדורה בסלון עטיפת הספר">
        </div>
    </div>

</div>
