<section class="container">
    <h2>{{title}}</h2>
    <div class="jumbotron">
    <ul class="writeupList">
        <li><a href="http://www.haaretz.co.il/literature/study/.premium-1.2139948" target="_parent">הריב שעיצב את האמנות הישראלית | דוד שפרבר - בעיתון הארץ 20.10.13</a></li>
        <li><a href="http://www.haaretz.co.il/literature/1.1120277" target="_blank">"הרוג על קוץ ודגש" | שמואל אבנרי  12.07.2006 הארץ</a></li>
        <li><a href="http://www.ynet.co.il/articles/0,7340,L-154429,00.html" target="_blank">איך נולד דגל? שורו, הביטו וראו | אריאנה מלמד 04.10.00 - ידיעות אחרונות</a></li>
        <li><a href="http://bgri-press.bgu.ac.il/media/sal/books/21/f37/%D7%A9%D7%A0%D7%AA%201948%20%D7%95%D7%9E%D7%A7%D7%95%D7%9E%D7%94%20%D7%91%D7%A9%D7%99%D7%97%20%D7%94%D7%94%D7%99%D7%A1%D7%98%D7%95%D7%A8%D7%99%D7%95%D7%92%D7%A8%D7%A4%D7%99%20%D7%A9%D7%9C%20%D7%A9%D7%93%D7%94%20%D7%94%D7%90%D7%9E%D7%A0%D7%95%D7%AA%20%D7%91%D7%99%D7%A9%D7%A8%D7%90%D7%9C%20%D7%99%D7%A2%D7%9C%20%D7%92%D7%99%D7%9C%D7%A2%D7%AA%20%D7%A7%D7%AA%D7%93%D7%A8%D7%94%20160.pdf" target="_blank">שנת 1948 ומקומה בשיח ההיסטוריוגרפי של שדה האומנות בישראל, יעל גילעת, קתדרה 160</a></li>
    </ul>
    </div>
</section>